$primary: #335eea;
$primary_hue2: #133bbd;

$secondary: #869ab8;
$secondary_hue1: black;

$ternary: #f0f0f0;
$ternary_hue1: #8c939d;
$ternary_hue2: #bcc1c8;

$warning: #fd5f00;

$padding: 0.8rem;

$error: #e92d1e;
$error_hue2: #bd1609;
