@import '~styles/index.scss';

.item {
  user-select: text;
  padding: 0.5rem 0;
  border-radius: 0.65rem;
  transition: 0.2s all ease;
  opacity: 0.5;

  &.editing {
    opacity: 1;
  }
}

.layout {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
}

.indicator {
  position: absolute;
  height: 100%;

  $width: 2rem;

  left: -$width - 0.5rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;

  .icon {
    fill: black;
    height: $width;
    width: $width;
  }
}

.nonEditable {
  &:hover {
    // background: $ternary;
  }
}

.target {
  user-select: text;
  flex: 10000 10 auto;
  margin-right: $padding;
}

.password {
  user-select: text;
  flex: 1 1 auto;
  line-height: 0.7rem;
  text-align: right;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 0.001rem;
  height: 0.001rem;
  overflow: hidden;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

.submit {
  flex: 0 0 46px;
  margin-left: $padding;
}

.more {
  width: 0;
  flex: 0 0 0;
  position: relative;
}

.list {
  height: 100%;
  display: flex;
  align-content: center;
  opacity: 0;
  transition: 0.2s all ease;
}

.item:hover,
.item.active {
  .list {
    opacity: 1;
  }
}

.menu {
  position: absolute;
  left: $padding;
}

.tooltip {
  position: absolute;
  bottom: -$padding/2;
  left: $padding;
}

.hidden {
  box-sizing: border-box;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: 0;
}

.feedback {
  padding-top: 0.2rem;
  height: 1.1rem;
}
