@import '~styles/index.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  transition: all 0.25s ease;

  &.show {
    background: rgba(255, 255, 255, 0.7);
  }
}

.Popup {
  padding: 1rem;
  border-radius: 0.65rem;
  // max-width: 400px;
  font-family: 'Roboto', sans-serif;

  &.warning {
    background: $warning;
    color: white;
  }

  &.normal {
    box-shadow:
      0 1rem 2.5rem rgba(22, 28, 45, 0.1),
      0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
    background: white;
    color: black;
  }

  transform: translateY(1rem);
  transition: all 0.25s ease;
  opacity: 0;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0.5rem;
}

.button {
  border: 0;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  outline: none;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.65rem;
  transition: all 0.25s ease;
  transform: translate3d(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0.8rem 1.5rem;

  &:hover {
    box-shadow:
      0 1rem 2.5rem rgba(22, 28, 45, 0.1),
      0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
    transform: translate3d(0, -3px, 0);
    background: rgba(0, 0, 0, 0.3);
  }
}
