@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  position: fixed;
}

* {
  user-select: none;
}

body {
  /* block scroll to refresh on android */

  overscroll-behavior: contain;
}

code {
  font-family: 'Courier New', monospace;
}

#root {
  height: 100%;
}
